/* ----------------------general features------------------- */

:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --text-color-hover: #2196F3;
    --text-color-button: #FFFFFF;

    --background-color-accent: #2196F3;
    --background-color-light: #F5F4FA;
    --background-color-dark: #2F303A; 
}

body {
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    background-color: #FFFFFF;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.nav .link.current{
    color: var(--text-color-hover)
}

/* ----------------------Header--------------------------- */
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;  
}

.logo-first{
    color: #2196F3;
}

.logo-second{
    color: #000000;
}

.logo-third{
    color: #FFFFFF;
}

.nav .link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;   
}

.nav .link:hover,
.nav .link:focus{
    color: var(--text-color-hover);
}

.contacts .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts .link:hover,
.contacts .link:focus{
    color: var(--text-color-hover);    
}

/* -------------------Main------------------------- */
.hero{
    background-color: var(--background-color-dark);
}

.hero-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button{
    font-family: inherit;
    color: var(--text-color-button);
    background-color: var(--background-color-accent);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor:pointer;
}

.advantage-title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.advantage-text{
    font-size: 14px;
    line-height: 1.71;
}

.example-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);
}

.team{
    background-color: var(--background-color-light);
}

.team-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);
}

.agent{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19x;
    text-align: center;
    color: var(--secondary-text-color)
}

.agent-position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}    


/* ------------------Footer------------------------- */
footer{
    background-color: var(--background-color-dark);
}

.address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.contacts-footer{
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-footer:hover,
.contacts-footer:focus{
    color: var(--text-color-hover) 
}

/* ----------Портфолио------------- */
.filter{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: #212121;
    background-color: var(--background-color-light);
    cursor:pointer;
}

.filter:hover,
.filter:focus{
    color: var(--text-color-button);
    background-color: var(--background-color-accent);
}

.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.project-type{
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
}